<div class="topnav">
  <div class="AccountInfoCss">
    Welcome <span id="FullName">Bruce</span>
    <button class="LogOutButtonCss" onclick="logout()">Log Out</button>
  </div>

  <div class="navbar">
    <div class="LogoWrap">
      <a href="/index.aspx">
        <img src="../image/EmilyAgencyLogo.png" class="Site_Title_Logo" />
      </a>
    </div>
    <div class="PageNav_Wrap">
      <a href="./PublishBookSearch.html">Book List</a>
      <a href="./PublishedAuthorCreateUpdateSearch.html">Author List</a>
      <a href="./PublishedCoAgentsCreateUpdate.html">CoAgents List</a>
      <a href="./CatalogCreateSearch.html">Catalog List</a>
      <a href="./AboutEmilyCreateSearch.html">Emily Info Edit</a>
    </div>
  </div>
</div>
